<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.caige.dao.UserDao">
  <resultMap id="baseMap" type="UserTO">
    <id property="id" column="ID" />
    <result property="name" column="NAME" />
    <result property="password" column="PASSWORD" />
    <result property="birthday" column="BIRTHDAY" />
    <result property="age" column="AGE" />
  </resultMap>
  
  <sql id="select-columns"> SELECT ID, NAME, BIRTHDAY, AGE FROM user</sql>
  
  <select id="getUserById" parameterType="int" resultMap="baseMap">
    <include refid="select-columns" /> 
     WHERE ID = #{id}
  </select>
  
  <select id="loginByName" parameterType="UserTO" resultMap="baseMap">
    <include refid="select-columns" />
     WHERE NAME = #{name} AND PASSWORD = #{password}  
  </select>
  
  <select id="checkNameIsHave" parameterType="string" resultMap="baseMap">
    <include refid="select-columns" />
     WHERE NAME = #{name}
  </select>
  
  <insert id="addUsers" parameterType="UserTO" useGeneratedKeys="true" keyProperty="id"> 
    INSERT INTO user (ID, NAME, PASSWORD, BIRTHDAY, AGE) 
        VALUES (#{id}, #{name}, #{password}, #{birthday}, #{age});
  </insert>
  
</mapper>